trigger:
- main
pool : Infra-agent2
stages:
 - stage : stage1
   displayName: install_init_fmt_validate
   jobs : 
    - job : Job1
      displayName : Terraform_install_init_validate
      steps :
      
      - task: TerraformInstaller@1
        displayName : terraform_Install
        inputs:
          terraformVersion: 'latest'
      - task: TerraformTask@5
        displayName: terraform_init
        inputs:
          provider: 'azurerm'
          command: 'init'
          workingDirectory: '$(System.DefaultWorkingDirectory)\environment\dev'
          backendServiceArm: 'newservice'
          backendAzureRmStorageAccountName: 'monolithicstg'
          backendAzureRmContainerName: 'monocontainer'
          backendAzureRmKey: 'infra.tfstate'
      - task: TerraformTask@5
        displayName: terraform_fmt
        inputs:
          provider: 'azurerm'
          command: 'custom'
          workingDirectory: '$(System.DefaultWorkingDirectory)\environment\dev'
          outputTo: 'console'
          customCommand: 'fmt'
          environmentServiceNameAzureRM: 'newservice'
      - task: TerraformTask@5
        displayName: Terrfaorm_validate
        inputs:
          provider: 'azurerm'
          command: 'validate'
          workingDirectory: '$(System.DefaultWorkingDirectory)\environment\dev'
     
    
    